figure {
  border: 1px solid #ccc;
  padding: 8px;
}

figcaption {
  font-style: italic;
  padding-top: 0.5em;
}

figure.center {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

figure.center img {
  margin: 0 auto;
}

figure.right {
  float: right;
  margin-right: 0;
}
