html {
  box-sizing: border-box;   /* Alternate box model */
  background: url(../img/grid-square-20.png) repeat;  /* Show background grid image */
}

*,
*::before,
*::after {
  box-sizing: inherit;      /* Alternate box model */
}

body {
  overflow-y: scroll;     /* Always display scrollbar, no hopping pages */
  font-size: 18px;
  margin: 8px auto;
  max-width: 1200px;
}

.row {
  display: flex;

  /* flex-direction: row;
    justify-content: space-between;
    */
  gap: 24px;
  background-color: tomato;

  /* padding: 1em; */
  margin-bottom: 24px;
}

.siteheader {
  background-color: Aquamarine;
  min-height: 60px;
  min-width: 100%;
}

.main {
  background-color: CadetBlue;
  width: calc(100% / 3 * 2);
  min-height: 10em;
}

.aside {
  background-color: BlanchedAlmond;
  width: calc(100% / 3 * 1);
}

.sitefooter {
  background-color: SeaShell;
  min-height: 100px;
  min-width: 100%;
}
