@charset "UTF-8";

html {
  overflow: scroll;
}

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
ul,
li,
small,
footer,
header,
hgroup,
table,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
}

header,
footer,
aside,
nav,
article,
hgroup,
section {
  display: block;
}

html,
body {
  background-color: #fff;
  color: #333;
}

body {
  font-size: 0.8em;
  font-family: georgia, times, serif;
  width: 60em;
  margin: 0 auto;
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #000;
}

nav {
  margin: 1em 0;
}

nav ul {
  list-style: none;
}

nav ul::after {
  content: ".";
  visibility: hidden;
  height: 0;
}

nav li {
  float: left;
  margin: 0 0.2em 0 0;
}

nav li::after {
  content: " | ";
}

nav li:last-child::after {
  content: "";
}

nav a {
  text-decoration: underline;
}

nav a:hover {
  color: #777;
}

header {
  margin: 1em 0;
}

header h1 {
  font-size: 4em;
}

header h2 {
  font-size: 1em;
  color: #444;
  font-family: helvetica, sans-serif;
}

header img {
  float: right;
  margin: 0.4em 0 0;
}

code {
  border: 0.1em dotted #000;
  display: block;
  background-color: #ccc;
  font-size: 1em;
  font-family: courier, sans-serif;
  padding: 1em;
}

footer {
  width: 60em;
  padding: 1em 0;
  margin: 2em 0;
  text-align: center;
  clear: both;
}

object {
  vertical-align: bottom;
}

fieldset {
  border: 0.1em solid #999;
  margin-bottom: 1em;
}

legend {
  font-size: 1.2em;
}

table.centered {
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: left;
}

td:nth-child(2n) {
  text-align: left;
}
