.navbar {
  background-color: lime;
  margin-bottom: 24px;
}

.navbar a {
  color: #333;
  text-decoration: none;

  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  border-bottom: 4px solid indianred;
  margin: 8px;
}

.navbar a:hover {
  background-color: indianred;
  text-decoration: none;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 16px;
}
