.three-col {
  display: flex;
  flex-direction: row;
  gap: 24px;
  max-width: 1100px;
}

.three-col main {
  width: calc(100% * 14 / 24);
}

.three-col aside {
  width: calc(100% *  5 / 24);
}

.three-col aside.left {
  order: -1;
}
