body {
  margin: 0 auto;
  max-width: 700px;
  background-color: #eee;
}
main {
  padding: 1rem;
  background-color: #fff;
}
h1, h2 {
  clear: both;
}
textarea {
  width: 100%;
  height: 7rem;
  padding-top: 1rem;
}
/* Style the figure alignment */
/*
.figure.center {
  clear: both;
  justify-content: center;
  text-align: center;
}
/*
.figure.left {
  float: left;
  margin-right: 1em;
}

.figure.right {
  float: right;
  margin-left: 1em;
}
  */
