figcaption {
  font-style: italic;
}

figure.center {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

figure.center img {
  margin: 0 auto;
}

figure.right {
  float: right;
  margin-right: 0;
}
